[tool.black]
line-length = 88
target-version = ['py37']
include = '\.pyi?$'
exclude = '''
/(
  \.eggs
| \.git
| \.hg
| \.mypy_cache
| \.tox
| \.venv
| _build
| buck-out
| build
| dist
)/'''

[tool.isort]
profile = "black"

[tool.mypy]
python_version = "3.7"
strict_optional = true
check_untyped_defs = true
disallow_incomplete_defs = true
warn_unused_ignores = true
show_error_context = true

[tool.poetry]
name = "bank-widget-project"
version = "0.1.0"
description = ""
authors = ["Your Name"]
license = "MIT"
readme = "README.md"
packages = [{ include = "src" }]

[tool.poetry.dependencies]
python = "^3.7"

[tool.poetry.group.dev.dependencies]
pytest = "^6.2"
flake8 = "^3.9"
black = "^22.3"
isort = "^5.10"
mypy = "^0.930"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
